body {
    font-family: Arial;
    background-color: var(--tg-theme-secondary-bg-color);
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

h1 {
    color: var(--tg-theme-text-color);
}

p {
    color: var(--tg-theme-hint-color)
}

.buy {
    width: 100%;
    text-align: center;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

button:hover {
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 45%;
    text-align: center;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.tg_button {
    position: fixed;
    width: 100%;
    padding: 15px;
    margin-top: auto;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.wrapper {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.tovar {
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
}